body {
  margin: 10px;
  font-family: 'Inter', sans-serif;
  background-color: #e8f0e9;
  color: #333;
  display: flex;
  flex-direction: column;
  place-items: center;
}

.container {
  display: flex;
  flex-direction: column;
  place-items: center;
  min-width: 800px;
  max-width: 1000px;
  height: auto;
  margin: 2rem auto;
  padding: 1rem 2rem;
  background: #ffffff;
  border-radius: 12px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.08);
  text-align: center;
}

.logo {
  width: 200px;
}

header {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 15px;
  margin-bottom: -13px;
}

.main-title {
  font-weight: 400;
  font-size: 17px;
  letter-spacing: -0.3px;
  font-family: 'Inter';
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

div > h1 {
  color: #008000;
  font-weight: 500;
  margin-bottom: 0.25rem;
}

p {
  margin: 0.25rem 0 1rem;
}

select {
  padding: 0.5rem 1rem;
  font-size: 1rem;
  border: 1px solid #ccc;
  border-radius: 6px;
  cursor: pointer;
}

.legend-wrapper {
  margin:20px
}

.key-option {
  margin: 5px;
  cursor: pointer;
  padding: 6px 10px;
  border-radius: 5px;;
  transition: all 0.2s ease;
  background-color: none;
  transition: all 0.5s ease
}

.key-option.active {
  font-weight: 500;
  color: white;
  text-decoration: none;
}

.key-option.inactive {
  font-weight: 400;
  color: #535353;
  text-decoration: line-through;
  background-color: none;
}

.key-option.active:hover {
  font-weight: 400;
  color: #535353;
  text-decoration: line-through;
  background-color: none;
}

.assists.active {
  background-color: #82ca9d;
}
.rebounds.active {
  background-color: #f6c23e;
}
.points.active {
  background-color: #3b82f6;
}


.chart-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-top: 2rem;
  width: 100%;
  height: auto;
}

.summary {
  margin-top: 1rem;
  font-weight: 500;
  color: #111;
}

footer {
  display: flex;
  flex-direction: column;
  margin-top: 3rem;
  margin-bottom: 5rem;
  font-size: 0.9rem;
  color: #777;
  gap: 1px;
}

a {
  margin: 10px;
}

@media screen and (max-width: 1300px) {
  body {
    max-width: 1300px;
    display: flex;
    flex-direction: column;
    place-items: center;
  }

  select {
    font-size: 15px;
    padding: 10px 20px;
    margin-left: 10px;
    margin-top: 20px;
  }

  p {
    font-size: 30px;
  }

  span{
    font-size: 25px;
  }
  .chart-container {
    height: 800px;
  }
  .container {
    display: flex;
    min-width: 500px;
    max-width: 700px;
    height: 1000px;
  }
  div > h1 {
    font-size: 40px;
    margin-bottom: 50px;
  }
  .logo {
    width: 150px;
    margin: 5px;
  }
  .main-title {
    font-size: 12px;
  }

}



@media screen  and (max-width: 768px) {
  body {
    max-width: 768px;
    display: flex;
    flex-direction: column;
    place-items: center;
  }

  select { 
    font-size: 15px;
    margin: 20px;
    padding:  2px 4px;
  }

  .chart-container {
    margin-top: 2rem; /* instead of margin:-10rem */
    transform: translateY(-3rem);
    height: auto;
    
  }

  .legend-wrapper {
    margin: 10px
  }


  p {
    font-size: 20px;
    margin: 0;
  }

  span{
    font-size: 15px;
    margin: 0;
  }
  .container {
    display: flex;
    min-width: 200px;
    max-width: 300px;
    max-height: max-content;
  }
  
  div > h1 {
    font-size: 20px;
    margin-bottom: 5px;
  }
  .logo {
    width: 150px;
    margin: 5px;
  }
  .main-title {
    font-size: 12px;
  }
}
